.footer {
  margin-top: 80px;
  padding-top: 40px;
  background: #edf2f6;
  position: relative;
  bottom: 0;

  &__wrapper {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 90px;
    padding-bottom: 40px;
    border-bottom: 2px solid #c8cacb;
  }

  &__logo {
    padding-bottom: 20px;
  }

  &__list {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 7px;
    width: 280px;

    & li a:hover {
      text-decoration: underline;
    }
  }

  &__title {
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #838688;
  }

  &__item {
    &-info a {
      font-weight: 600;
      font-size: 20px;
      color: #070c11;
    }

    & a {
      line-height: 130%;
      transition: all 0.4s ease;
      color: #070c11;

      &:hover {
        color: #005bff;
      }
    }

    &-info {
      padding-bottom: 10px;
    }

    &-work {
      color: #838688;
      padding-bottom: 10px;
    }
  }

  &__copiright {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  &__list-copiright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item-copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    &-first a {
      font-weight: 600;
      color: #838688;
      transition: all 0.4s ease;

      &:hover {
        text-decoration: underline;
      }
    }

    & a {
      font-size: 12px;
      color: #838688;
      transition: all 0.4s ease;

      &:hover {
        text-decoration: underline;
      }
    }

    & a img {
      padding-top: 5px;
    }
  }

  &__menu-mobile {
    display: none;
  }

  &__menu-mobile &__list-copiright {
    padding-top: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .footer__wrapper {
    justify-content: center;
    align-items: start;
    row-gap: 40px;
    column-gap: 140px;
  }
}

@media screen and (max-width: 768px) {
  .footer__item-copyright {
    flex: 0 1 50%;
  }
}

@media screen and (max-width: 835px) {
  .social {
    order: -3;
    padding-bottom: 20px;
  }

  .footer__menu-mobile {
    display: block;
  }

  .footer__menu-mobile .mobile-menu {
    display: none;
  }

  .footer__menu-mobile .footer__logo {
    display: none;
  }

  .footer__list-copiright {
    gap: 10px;
  }

  .footer__item-copyright-first a {
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 15px;
  }

  .footer__item-copyright {
    justify-content: start;
    flex: 0 1 100%;
  }

  #hidden {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .footer__wrapper {
    display: none;
  }

  .footer__menu-mobile .footer__logo {
    display: block;
  }

  .footer {
    padding-top: 20px;
    margin-top: 40px;
  }

  .footer__menu-mobile .mobile-menu {
    display: block;
  }
}
