.container-navigate {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.nav {
  margin-top: 10px;
  background: #0e1821;

  &__list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .dropdown {
    position: relative;

    &-font {
      color: #fff;
      display: flex;
      align-items: center;
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 12px;
    z-index: 10;
    padding-top: 25px;
  }

  .nav-item:first-child:hover .dropdown-content {
    display: block;
  }

  &-item {
    & a {
      font-size: 16px;
      font-weight: 500;
      line-height: 130%;
      color: #fff;

      & span {
        width: 190px;
      }
    }

    &:first-child {
      padding-right: 120px;
      background: #243c53;
      padding-top: 21px;
      padding-bottom: 21px;
      cursor: pointer;
    }

    & img {
      padding-right: 10px;
      padding-left: 17px;
    }
  }

  &__list-menu {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border: 2px solid #c8cacb;
    border-top: none;
    border-radius: 0 5px 5px 0;
  }

  &-item-menu {
    width: 281px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 7px;
    background: #edf2f6;

    &:hover {
      background: #dae4ed;
    }

    & a {
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      display: flex;
      align-items: center;
      padding: 10px 14px 10px 18px;
      color: #070c11;
    }
  }
}

@media screen and (max-width: 1130px) {
  .nav-item:nth-child(7) {
    display: none;
  }

  .container-navigate {
    padding: 0;
  }
}

@media screen and (max-width: 1020px) {
  .nav-item:nth-child(6) {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .nav-item:nth-child(5) {
    display: none;
  }
}

@media screen and (max-width: 660px) {
  .nav-item:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 545px) {
  .nav-item:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 460px) {
  .nav-item:nth-child(3) {
    display: none;
  }

  .nav-item:nth-child(1) {
    width: 100%;
    max-height: 60px;
  }
}

@media screen and (max-width: 465px) {
  .container-navigate {
    padding: 0;
  }

  .container-header {
    padding: 0 5px;
  }
}
