@font-face {
  font-family: 'exo_2Semibold';
  src: url('@/shared/fonts/exo2-semibold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'exo_2Bold';
  src: url('@/shared/fonts/exo2-bold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'exo_2Medium';
  src: url('@/shared/fonts/exo2-medium-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'exo_2Regular';
  src: url('@/shared/fonts/exo2-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoRegular';
  src: url('@/shared/fonts/roboto-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'interRegular';
  src: url('@/shared/fonts/inter-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sourceSansProRegular';
  src: url('@/shared/fonts/sourcesanspro-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.root-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
