.mobile-menu {
  max-width: 590px;
  background: #fff;
  border-radius: 20px;
  margin-top: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu .footer__item a {
  display: inline;
  position: relative;
  color: #838688;
  margin-left: 15px;

  &::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-left: 10px;
    background: #525151;
    top: 8px;
    left: -22px;
  }
}

.content .footer__list {
  gap: 15px;
}

.mobile-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 17px;
  width: 100%;
}

.open .mobile-block img {
  rotate: 180deg;
}

.toggle-button {
  font-size: 16px;
  line-height: 130%;

  text-align: start;
  padding: 11px 0;
}

.expandable-block .content {
  display: block;
  overflow: hidden;
  height: 0px;
  transition: all 1s ease; /* Adjust the transition duration for smoother animation */
  padding-left: 15px;
}

.expandable-block.open .content {
  height: 300px;
  padding-top: 7px;
  max-width: 416px;

  padding-bottom: 10px;
  transition: all 1s ease; /* Adjust the transition duration for smoother animation */
}
