.container-header {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  position: relative;
  padding-top: 16px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__block-tel {
    display: flex;
    gap: 30px;

    & a {
      font-family: 'exo_2Semibold', sans-serif;
      font-size: 16px;
      color: #070c11;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__info-work {
    color: #838688;
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.user {
  position: relative;

  & button {
    position: relative;
    cursor: pointer;
  }

  &__image {
    width: 28px;
  }

  &__content {
    display: none;
    position: absolute;
    z-index: 100;
    top: 24px;
    right: 0;
    padding-top: 16px;
  }

  &:hover &__content {
    display: block;
  }

  &__list {
    border: 2px solid #eaeaf0;
    border-radius: 8px;
    background: #fff;
  }

  &__item {
    cursor: pointer;

    & a {
      display: inline-block;
      text-align: start;
      width: 280px;
      color: #070c11;
      font-weight: 500;
      font-size: 16px;
      padding: 15px 0 17px 20px;
    }

    &:hover {
      background: #eaeaf0;
    }

    &:last-child a {
      color: #f15152;
    }

    &:last-child {
      border-top: 2px solid #eaeaf0;
    }
  }
}

.menu-media {
  display: none;
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 991px) {
  .header__info-work {
    display: none;
  }
}

@media screen and (max-width: 790px) {
  .header__block-tel {
    display: none;
  }
}

@media screen and (max-width: 465px) {
  .header__menu {
    display: none;
  }

  .menu-media {
    display: block;
  }
}
